rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Check User Role
    function userIsDev() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data['type'] == "DEV";
    }
    function userIsAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data['type'] in ["ADMIN", "DEV"];
    }

    match /_meta/{MetaID}{
      allow read;
      allow write: if userIsAdmin();
    }

    match /users/{UserID} {
      allow read, write: if userIsAdmin() || request.auth.uid == UserID;
    }
  }
}
